/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 20px;
  color: rgba(255, 255, 255, .87);
  background-color: #3f51b5;
  margin-bottom: 0 !important;
}

.modal-content {
  padding: 15px;
  margin: 0 !important;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
