<div fxLayout="column">
  <span style="font: 25px bold">Messages</span>
  <mat-form-field>
    <label>
      <input #filter matInput (keyup)="applyFilter(filter.value)"
             placeholder="Filter">
    </label>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
    <ng-container matColumnDef="recipient" *ngIf="isAdmin()" class="hide">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipient</th>
      <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
