<div fxLayout="column">
  <span style="font: 25px bold">Users</span>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <mat-form-field fxFlex="90%">
      <label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </label>
    </mat-form-field>
    <button mat-button color="primary" fxFlex="10%" value="bold" (click)="createUser()">
      <mat-icon>add</mat-icon>
      New
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Login</th>
      <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
